.App {
  text-align: left;
}

.nav{
  display: flex;
  justify-content: left;
  align-items: center;
  width: 11200px;
  max-width: 100%;
  height: 10vh;
  padding-left: 2rem;
  box-shadow: 0px 2px 9px -1px rgba(0,0,0,0.18);
}

.nav .logo{
  width: 100px;
}

.hero {
  width: 100%;
  height: auto;
  padding: 1rem 0;
  max-width: 100%;
 display: flex;
 justify-content: center;
}

.hero > .hero-img {
  width: 1200px;
  height: auto;
  padding: 5rem 0;
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.hero-text > h1{
font-size: 4rem;
color: #000;
 text-align: center;
}

.hero-text > p{
font-size: 1.5rem;
color: #000;
line-height: 1.5;
 text-align: center;
}

.experience-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 2rem;
  margin: 3rem 0;
}
.experience-container .swimmer-image {
  width: 300px;
}

.experience-container span {
  color: #918E9B;
}
.experience-container h6 {
  font-size: .8rem;
}

/* .card-container {
  display: grid;
} */

.experience-container  .availability {
  position: relative;
  width: 70px;
  margin-left: 1rem;
  text-align: center;
  display: flex;
  font-size: .7rem;
  background: #fff;
  color: #000;
  border-radius: .7rem;
  padding: .5rem;
  z-index: 5;
  margin-top: -21rem;
  margin-bottom: 20rem;
}










@media (min-width: 768px ) {
  .hero > .hero-img {
  width: 700px;
  height: auto;
  padding: 5rem 0;
  max-width: 100%;
  display: flex;
  justify-content: center;
}

.hero-text > h1{
font-size: 3rem;
color: #000;
padding-left: 3rem;
}

.hero-text > p{
font-size: 1rem;
color: #000;
line-height: 1.5;
padding-left: 3rem ;
}
  
}



















/* 
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
